@model simple_leave_management_system.Models.LeaveQuota

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LeaveQuota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.DisplayText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveType.LeaveTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAllocated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAllocated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalUsed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LeaveQuotaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
