@model IEnumerable<simple_leave_management_system.Models.LeaveQuota>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAllocated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalUsed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.DisplayText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.LeaveTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAllocated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalUsed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LeaveQuotaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LeaveQuotaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LeaveQuotaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
